// Partials
@import "partials/variables";

// Mixins
@import "partials/mixins";

// Fonts - (Uses our mixin google fonts)
@include google-font("Alegreya+Sans");
@include google-font("Titllium+Web");

// styling for a links
@include fancy-links;


/* 
.
. --- Main Element Styles ---- 
.
*/

// 
body {
    font-family: $text-font;
    color: $text-color;

    // increase font size on screns <960px
    @include large-screens {
        font-size: 125%;
    }
}

h1,
h2,
h3,
h4 {
    font-family: $headline-font;
}

h2 {
    @include large-text;
}

p {
    font-family: $text-font;
}

a {
    color: $link-color;
}

.warning-btn {
    @include warning;
    padding: 8px 12px;
}

#header {
    @include box($border: 1.5px solid #999);
    @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
    height: $header-height;
    background-color: $theme-color;
    
    #main-menu {

        li {
            display: inline;
        }

        a {
            color: $menu-item-color;
        }
    }
    #logo {}
}

#main {
    width: $content-width;

    // a media query to center content on screens <960px
    @include large-screens {
        width: auto;
        max-width: $content-width;
    }

    margin: 0 auto 0 auto;

    #content {}
    #sidebar {}
}

#footer {
    height: $footer-height;
    background-color: $ternary-color;
}