// Custom Functions
@import "partials/functions";
// Partials
@import "partials/variables";
// Mixins
@import "partials/mixins";
// Fonts - (Uses our mixin google fonts)
@include google-font("Alegreya+Sans");
@include google-font("Titllium+Web");
// Styling for a links
@include fancy-links;
// Use for loop to generate col-width
@for $i from 1 through 6 {
    .col-#{$i} {
        width: $i * 2em;
    }
}

// Using a for @each loop to loop over items
$speakers: bob-banker,
patty-plume,
andra-smith;
@each $speaker in $speakers {
    .#{$speaker}-profile {
        background-image: url('/img/#{$speaker}.png');
    }
}


/* 
.
. --- Main Element Styles ---- 
.
*/

body {
    font-family: $text-font;
    color: $text-color;
    font-size: em(16px);
    background-color: $body-background-color;
    // increase font size on screns <960px
    @include large-screens {
        font-size: 125%;
    }
    font-size: em(18px);
}

.error {
    color: red;
}

// inherit from our error class
.critical-error {
    @extend .error;
    bottom: 1px solid red;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    font-family: $headline-font;
}

h2 {
    @include large-text;
}

p {
    font-family: $text-font;
}

a {
    color: $link-color;
    // Default scss function to darken
    &:hover {
        color: darken($link-color, 15%);
    }
    @include blue-beans {
        color: #8779ff;
    }
}

// extend-only Inheritance scss class
%highlight {
    font-style: italic;
}

.sub-title {
    @extend %highlight;
    // check if it exists , if not ignore
    @extend .foo !optional;
    font-size: em(20px);
}

.warning-btn {
    @include warning;
    padding: 8px 12px;
}

.cta-btn {
    @extend .warning-btn;
    @extend .error;
    @include rounded;
    font-weight: bold;
}

// Inherit from an already inherited class
.super-cta-btn {
    @extend .cta-btn;
    font-size: em(20px);
}

#header {
    @include box($border: 1.5px solid #999);
    @include box-shadow(2px 0px 4px #999,
    1px 1px 6px $secondary-color);
    height: $header-height;
    background-color: $theme-color;
    #main-menu {
        li {
            display: inline;
        }
        a {
            color: $menu-item-color;
            padding: 6px 8px;
            // add border bottom when hovered over using in-built scss functions
            border-bottom: 1px solid transparentize(#fefefe, 1);
            transition: border-bottom 0.5s;
            transition-timing-function: ease-in-out;
            &:hover {
                border-bottom: 1px solid opacify(#fefefe, 0.5);
            }
        }
    }
    #logo {}
}

#main {
    width: $content-width;
    // a media query to center content on screens <960px
    @include large-screens {
        width: auto;
        max-width: $content-width;
    }
    margin: 0 auto 0 auto;
    #content {
        float: left;
        width: 6 * $col;
    }
    #sidebar {
        float: right;
        width: 2 * $col;
        li {
            list-style-type: none;
            padding: em(16px) em(20px);
            border-bottom: 1px dashed #999;
            &:hover {
                background-color: #efefef;
            }
        }
    }
}

#footer {
    clear: both;
    height: $footer-height;
    background-color: $ternary-color;
    @include roger-rovers {
        border-top: 5px solid darken($ternary-color, 15%)
    }
}